@import "defaults";
body{
  padding-top: 60px;
  font-family: ubuntu, sans-serif;
  font-size:$default_font;
}
a{
	color:$gry;
}
.dropdown-menu li a{
	padding:10px 25px;
}
.navouter{
	a.imgdiv{
		padding-top:9px;
		padding-bottom:9px;
	}
	.dropdown-menu{
		top:70px;	
	}
	.dropdown-menu::before{
		content:'';
		position:absolute;
		top:-8px;
		right:5px;
		border-right:8px solid transparent;
		border-left:8px solid transparent;
		border-bottom: 8px solid #dbdee4;
	}
	.dropdown-menu::after{
		position:absolute;
		content: '';
		top:-7px;
		right:6px;
		border-right:7px solid transparent;
		border-left:7px solid transparent;		
		border-bottom: 7px solid white;
	}
}
.badge-info{
	background:#52afcb;
}
.badge-danger{
	background:#f25656
}
.task-inbox{
	font-size:13px;
	li p{
		font-size:14px;
		color:#696969;
	}
}
.container{
	padding-left:0;
}
.table{
	margin-bottom:0;
	tr:first-of-type td{
		border-top: none;
	}
}
.glyphicon{
	margin-right:10px;
}
.usrimg{
	margin:0 5px;
	height:40px;
	width:40px;
}
.table-hover{
	text-align:center;
}
.inboxitem{
	height:350px;
	overflow: scroll;
}
.numinfo{
	font-size:28px;
	color:rgb(55,64,81);
}
.infotitle{
	color:#b0b0b0;
}
tr td:last-of-type{
	text-align:right;
}
.breadcrumb{
	width:100%;
	margin:0;
	padding:8px 55px;
	display:inline-block;
	font-size:13px;
}
.pagetitle{
	color:$gry;
	font-size: 24px;
	border-bottom: 1px solid #e7e7e7;
	padding:5px 55px;
	p{
	margin:0;
	}
}
.progress, .progress-bar{
	height:10px;
	margin:0;
}
.pagecontent{
	background: #f9f9f9;
	padding: 0;
}
.pagebar{	
	padding-left:24px;
	a:hover{
 		color:$grn !important; 
 	}
 	li.dropdown:hover{
		cursor: pointer;
	}
	li.dropdown:hover > ul.dropdown-menu {
		background: rgb(247,247,247);
    	display: block;    
	}

 }
.navbar{
	background:white;
	margin:0;
	border-top: 1px;
}
.btn-success:hover,.btn-success:link,.btn-success:visited, .badge-success{
	background:$grn;
}
.logo{
	font-family: ubuntu sans-serif;
	font-size:20px;
	font-weight:700;
}
.text-success, div.pagebar a:hover{
	color:$grn;
}
.chatbox{
	position:fixed;
	padding:0;
	border-left: 1px solid #e7e7e7;
	right: -200px;
	top:0;
	height:100%;
	width:200px;
	background: white;
	z-index: 9999999;
	overflow: scroll;
}
.chat-title{
	font-size: 18px;
	padding:15px;
}
.msgcontainer{
	background-color: white;
	height:85%;
	padding:10px;
	overflow:scroll;
	z-index: inherit;
}
#post{
	z-index: inherit;
}
.chatitem{
	cursor: pointer;
	p{
		padding-left: 50px;
	}
}
.msg{
	font: 15px cursive;
	font-weight: 500;
	word-wrap:break-word;
	background:$grn;
	border-radius: 10px;
	text-align: center;
	float:right;
	width:80%;	
}
.msgin{
	@extend .msg;
	background: #f1f1f1;
	float:left;
}
.row{
	margin-right: 50px;
	margin-left: 50px;
}
.row-head{
	padding:0;
	margin-top:20px;
}
.dashitem{
	margin-top:30px;
	background: white;
	color: $gry;
	padding: 20px;
	border: 1px solid #e7e7e7;
	overflow:auto;
}
.copyright{
	padding:20px 0 0px 50px;
}
.dashtitle{
	font-size: 14px;
	font-weight:600;
}